@import "tailwindcss";

@theme {
  /* Nossas fontes */
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  /* Nossa paleta de cores (Dourado/Areia) */
  --color-gold: #C5A059;
  --color-gold-light: #d4b77a;
  --color-gold-dark: #a38243;

  /* Nosso degradê de fundo */
  --background-image-luxury-gradient: linear-gradient(to bottom, #273648, #3f5877, #5d7a9e, #8aa6c4, #b8cff1);
}

/* Opcional: Se quiser que o fundo do body já pegue um azul escuro por padrão caso o degradê não carregue */
body {
  background-color: #020b18;
  color: #f1f5f9; /* slate-100 */
}